# LLM Configuration
LLM_PROVIDER=openai
OPENAI_API_KEY=your_openai_api_key
GROQ_API_KEY=your_groq_api_key
GEMINI_API_KEY=your_gemini_api_key
LLM_MODEL=

# FIT Uni Kassel Credentials
FIT_USERNAME=your_fit_username
FIT_PASSWORD=your_fit_password

# LinkedIn Credentials
LINKEDIN_USERNAME=your_linkedin_username
LINKEDIN_PASSWORD=your_linkedin_password
